<div class="body-back">
    <div class="masthead pdng-stn1">
        <div id="menu" class="panel" role="navigation">
            <div class="wrap-content">
                <div class="profile-menu text-center">
                    <img class="img-circle border-effect" src="~/Content/images/GangsterKermitNew.png" alt=" ">
                    <h3>Usuário</h3>
                    <p>Aqui vai ficar o nivel de cozinheiro</p>
                    <div class="pro-menu">
                        <div class="logo">
                            <li><a class=" link link--yaku scroll active" href="#home"><span>P</span><span>e</span><span>r</span><span>f</span><span>i</span><span>l</span></a></li>
                            <li><a class=" link link--yaku scroll" href="#service"><span>R</span><span>e</span><span>c</span><span>e</span><span>i</span><span>t</span><span>a</span><span>s</span></a></li>
                            <li><a class=" link link--yaku scroll" href="#recipes"><span>G</span><span>e</span><span>l</span><span>a</span><span>d</span><span>e</span><span>i</span><span>r</span><span>a</span></a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="phone-box wrap push" id="home">
            <div class="menu-notify">
                <div class="profile-left">
                    <a href="#menu" class="menu-link"><i class="fa fa-list-ul pull-left"></i></a>
                </div>
                <div class="Profile-mid">
                    <h5 class="pro-link">Bem vindo</h5>
                </div>
                <div class="Profile-right">
                    <div id="dd1" class="wrapper-dropdown-1" tabindex="1">
                        <i class="fa fa-user pull-right"></i>
                        <ul class="dropdown">
                            <li><a href="#">Editar Perfil</a></li>
                            <li><a href="#">Ajuda</a></li>
                            <li><a href="#">Registro de atividades</a></li>
                            <li><a href="#">sair</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="details-grid">
                <div class="details-shade">
                    <div class="details-right">
                        <img src="~/Content/images/logo.png" alt=" " />
                        <h3>Easy Home Chef</h3>
                        <h4>Rec</h4>
                    </div>
                    <div class="banner_search">
                        <form>
                            <input type="search" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
                            <input type="submit" value=" ">
                        </form>
                    </div>
                </div>
            </div>
            <div class="banner-bottom">
                <div class="col-sm-8 bottom-text">
                    <h3>Let's Cook</h3>
                    <p>Tasty Recipes<P>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="goals">
                <div class="recipes" id="recipes">
                    <h3>Our Recipes</h3>
                    <div class="col-sm-6 goal-left recipe">
                        <div class="goal-img">
                            <img src="~/Content/images/r1.jpg" alt=" " />
                        </div>
                        <div class="goal-info">
                            <h4>Spicy Recipes</h4>
                            <p>There are many variations of passages of Lorem Ipsum available.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-6 goal-left recipe">
                        <div class="goal-img">
                            <img src="~/Content/images/r2.jpg" alt=" " />
                        </div>
                        <div class="goal-info">
                            <h4>Tasty Food</h4>
                            <p>There are many variations of passages of Lorem Ipsum available.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-6 goal-left recipe">
                        <div class="goal-img">
                            <img src="~/Content/images/r3.jpg" alt=" " />
                        </div>
                        <div class="goal-info">
                            <h4>Spicy Recipes</h4>
                            <p>There are many variations of passages of Lorem Ipsum available.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-6 goal-left recipe">
                        <div class="goal-img">
                            <img src="~/Content/images/r4.jpg" alt=" " />
                        </div>
                        <div class="goal-info">
                            <h4>Let's Eat</h4>
                            <p>There are many variations of passages of Lorem Ipsum available.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
