<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Easy Home Chef</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Clean Recipe App Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android  Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--font-awsome-css-->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">

    <!--bootstrap-->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--custom css-->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap-grid.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/customcss/HomeCss.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/percircle.css">

    <!--component-css-->
    <script src="~/Content/js/jquery-3.3.1.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.MultiFile.js"></script>
    <script src="~/Content/js/Chart.js" type="text/javascript"></script>

    <!--script-->
    <script src="~/Content/js/modernizr.custom.js"></script>
    <script src="~/Content/js/bigSlide.js"></script>
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <script type="text/javascript" src="~/Content/scripts/DetalhesPagina.js"></script>
    <!--script-->
    <!-- swipe box js -->
    <link rel="stylesheet" href="~/Content/css/swipebox.css">
    <script src="~/Content/js/jquery.swipebox.min.js"></script>
    <script src="~/Content/scripts/MenuLateral.js"></script>
    <!-- //swipe box js -->
    <!--script-->
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
    @RenderBody()
    <script src="~/Content/js/jquery.nicescroll.js"></script>
    <script src="~/Content/js/scripts.js"></script>
    <script src="~/Content/js/jquery.MultiFile.js" ></script>

</body>
</html>